{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="description" content="">
    <title>Create Form</title>
    <link href="{% static 'forms/icons/material-icons.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
<header>
    <nav>
        <div class="container-fluid" style="background-color:#E57373;">
                <div >
                    <div class="col-xs-4"><h1>Form Booking Portal</h1></div>
                    <div class="col-xs-offset-6 col-xs-2"><a href="{% url 'forms:test' %}" class="right"><h2>Logout</h2></a></div>
                </div>
        </div>
    </nav>
</header>
<main>
    <div class="container">
        <div class="container panel-default panel" style="width: 60%;">
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <div>
                        <ul>
                            {% for error in form.non_field_errors %}
                                <li class="red-text">
                                    <u>{{ error }}</u>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% for field in form %}
                        <div class="row">
                        <div class="form-group col-xs-12">
                            <span >{{ field.errors }}</span>
                            <div class="col-form-label">{{ field.label_tag }}</div>
                            <div >{{ field }}</div>
                        </div>
                        </div>
                    {% endfor %}
                    <div class='row center'>
                        <div class="col-xs-12">
                            {{ next }}
                            <input style="display: none" name="next" value="{{ next }}"/>
                            <button class='btn-large btn-info' type='submit' name='btn_login' style="width: 30%">
                                Create Form
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    {#    <div class="col l4 m2 hide-on-small-only"></div>#}
</main>
<footer></footer>

</body>
</html>